name: Global AI Build Station
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Fetching Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Tools
        run: |
          sudo apt-get update --fix-missing
          sudo apt-get install -y git zip unzip openjdk-17-jdk autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev cmake libffi-dev libssl-dev || true
          pip install --upgrade pip
          pip install Cython==0.29.33 buildozer

      - name: Build APK
        run: |
          export LC_ALL=C.UTF-8
          yes | buildozer android debug
