name: Nuclear APK Build 1000%
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Setup Global Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Secure Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y git zip unzip openjdk-17-jdk autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev cmake libffi-dev libssl-dev
          pip install --upgrade pip Cython==0.29.33 buildozer

      - name: Nuclear Build APK
        run: |
          export LC_ALL=C.UTF-8
          yes | buildozer -v android debug || true
          mkdir -p final_apk_storage
          find . -name "*.apk" -exec cp {} ./final_apk_storage/ \;

      - name: Deliver Final APK File
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Global-APK-Final-Package
          path: final_apk_storage/*.apk
